<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Training</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let training of user.trainings">
        <ion-card-content class="ion-no-padding">
            <ion-item>
                <ion-icon name="medal" style="margin-right: 10px;"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <ion-item class="ion-no-padding" lines='none'>
                        <h2>{{training.title}}</h2>
                        <ion-icon slot="end" name="Pencil" [routerLink]="['edit-training', training.id]"></ion-icon>
                    </ion-item>
                    <ion-text>
                        <p>{{training.awardedBy}}</p>
                        <p>{{training.recognitionDate | date}}</p>
                        <p>{{training.description}}</p>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-fab *ngIf="addTraining" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="add-training">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>