<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Work Experience</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let workExp of user.workExps">
        <ion-card-content class="ion-no-padding">
            <ion-item>
                <ion-icon name="business" style="margin-right: 10px;"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <ion-item class="ion-no-padding" lines='none'>
                        <h2>{{workExp.name}}</h2>
                        <ion-icon slot="end" name='pencil' [routerLink]="['edit-work-experience', workExp.id]"></ion-icon>
                    </ion-item>
                    <ion-text>
                        <p>{{workExp.position}}</p>
                        <p>{{workExp.startDate | date}} <span *ngIf="!workExp.current && workExp.endDate">to {{workExp.endDate | date}}</span>
                            <span *ngIf="workExp.current || !workExp.endDate">(current)</span>
                        </p>
                        <p>{{workExp.description}}</p>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="add-work-experience">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>