<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Work Experience</ion-title>
        <ion-item *ngIf="addWorkExp" slot="end" lines='none'>
            <ion-icon name='add' routerLink="add-work-experience"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content class="ion-no-padding">
            <ion-item *ngFor="let workExp of user.workExps">
                <ion-icon name="business" style="margin-right: 10px;"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <ion-item class="ion-no-padding" lines='none'>
                        <h2>{{workExp.name}}</h2>
                        <ion-icon slot="end" name='pencil' [routerLink]="['edit-work-experience', workExp.id]"></ion-icon>
                    </ion-item>
                    <ion-text *ngFor="let position of workExp.positions">
                        <p>{{position.position}}</p>
                        <p>{{position.startDate | date}} <span *ngIf="!position.current && position.endDate">to {{position.endDate | date}}</span>
                            <span *ngIf="position.current || !position.endDate">(current)</span>
                        </p>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>