<ion-card>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input [(ngModel)]="training.title" clear-input="true" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Awarded By</ion-label>
            <ion-input [(ngModel)]="training.awardedBy" clear-input="true" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Recognition Date</ion-label>
            <ion-datetime [(ngModel)]="training.recognitionDate" display-format="MM/DD/YYYY"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea [(ngModel)]="training.description" clear-input="true"></ion-textarea>
        </ion-item>
    </ion-list>
</ion-card>
<ion-item>
    <ion-button block color="primary" type="submit" (click)="saveChanges()">
        Save changes
    </ion-button>
</ion-item>