<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
        <ion-title>e-toolbox</ion-title>
        <ion-item slot="end" lines="none">
            <ion-icon name="flash"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="Container">
        <div class="SubContainer">
            <ion-card routerLink='/motor-calculator'>
                <ion-card-title class="ion-text-center">
                    <ion-label>Motor Calculator</ion-label>
                </ion-card-title>
                <ion-img src="../../assets/img/motor-electrico.png"></ion-img>
            </ion-card>
            <ion-card routerLink='/wire-and-conduit'>
                <ion-card-title class="ion-text-center">
                    <ion-label>Wire & Conduit</ion-label>
                </ion-card-title>
                <ion-img src="../../assets/img/wires-and-conduit.png"></ion-img>
            </ion-card>
        </div>
    </div>
</ion-content>