ion-content ion-toolbar {
    --background: translucent;
}

ion-card {
    padding-top: 15px;
    border-radius: 20px;
}

ion-img {
    height: 200px;
}

.Container {
    height: 100%;
    display: flex;
}

.SubContainer {
    margin: auto;
}