on-select-option {
    border: solid 1px gray;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
}

ion-row {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    ion-col {
        padding: 0px !important;
    }
    ion-input {
        border: solid 1px gray;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-radius: 5px;
        margin-left: 5px;
    }
}


/* ion-card {
    border-radius: 20px;
} */