<ion-content [fullscreen]="true">
    <div class="Container">
        <div class="SubContainer">
            <ion-card>
                <ion-card-header>
                    <div>
                        <ion-img src="../../assets/img/EandTElectric-Logo.png"></ion-img>
                    </div>
                </ion-card-header>
                <ion-card-content>
                    <form>
                        <ion-item lines="full">
                            <ion-input type="text" placeholder="Email" #email required></ion-input>
                        </ion-item>
                        <br>
                        <ion-item lines="full">
                            <ion-input type="password" placeholder="Password" #password required></ion-input>
                        </ion-item>
                        <br>
                        <div style="align-content: center;">
                            <ion-button type="submit" (click)="logIn(email, password)" color="danger" expand="block">Sign In</ion-button>
                            <br>
                            <p (click)="restorePassword(email)" class="ion-text-center">Forgot Password?</p>
                            <br>
                            <p [routerLink]="['create-new-account']" class="ion-text-center">New Here?</p>
                        </div>
                    </form>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>