ion-input {
    height: 50%;
    text-align: right;
}

.input2 {
    font-size: x-large;
}

.input1 {
    font-size: xx-large;
}

.input-border {
    height: 100%;
    margin: auto;
    width: 90%;
}

.height {
    height: 100%;
}

.Container {
    height: 100%;
    display: flex;
}

.SubContainer {
    margin: auto;
    height: 60%;
    width: 100%;
}

ion-col {
    width: 100%;
    padding: 8% 5% 8% 5%;
    font-size: xx-large;
}

ion-button {
    margin: auto;
    width: 100%;
    height: 100%;
    font-size: xx-large;
}

ion-row {
    height: 25%;
    align-items: center;
}

ion-fab {
    width: 100%;
    height: 15%;
}