.input1 {
    margin: auto;
}

.input2 {
    margin: auto;
}

.input-border {
    border: 1px solid grey;
    width: 90%;
    margin: auto;
}

ion-col {
    height: 100%;
    width: 100%;
    padding: 5%;
    font-size: larger;
}

.height {
    height: 100%;
}

.vertical {
    margin-top: 45%;
}

ion-input {
    text-align: right;
}

ion-button {
    margin: auto;
    width: 85%;
    height: 100%;
}

ion-row {
    height: 100%;
    align-items: center;
}

ion-fab {
    width: 100%;
    height: 10%;
}