<ion-card>
    <ion-item>
        <ion-label position="floating">Company</ion-label>
        <ion-input [(ngModel)]="workExp.company" clear-input="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Position</ion-label>
        <ion-input [(ngModel)]="workExp.position" clear-input="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Start Date</ion-label>
        <ion-datetime [(ngModel)]="workExp.startDate" display-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>
    <ion-item lines='full' *ngIf="!currentSetted">
        <ion-label>Current</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="workExp.current"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="!workExp.current">
        <ion-label position="floating">End Date</ion-label>
        <ion-datetime [(ngModel)]="workExp.endDate" display-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="workExp.description" clear-input="true" type="text"></ion-textarea>
    </ion-item>
</ion-card>
<ion-button expand="block" color="primary" style="margin: auto; width: 95%;" type="submit" (click)="saveChanges()">
    Save changes
</ion-button>