<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-item slot="start" lines="none">
            <ion-icon name="person"></ion-icon>
        </ion-item>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-card class="ion-padding-top">

        <ion-row class="ion-padding-horizontal">
            <ion-col size="12">
                <ion-avatar>
                    <img [src]="user.profileImage">
                </ion-avatar>
            </ion-col>
        </ion-row>

        <ion-card-content>
            <ion-item lines='none' class="ion-no-margin ion-no-padding">
                <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title>
                <ion-icon slot="end" name="pencil" routerLink="/edit-profile"></ion-icon>
            </ion-item>
            <ion-card-subtitle>{{user.workExps[0].positions[0].position}} in {{user.workExps[0].name}}</ion-card-subtitle>
            <ion-label>{{user.workExps[0].name}} - {{user.educations[0].institute}}</ion-label><br>
            <ion-label>{{user.address.city}}, {{user.address.state}}, {{user.address.country}}</ion-label>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item lines='full'>
            <ion-card-title>Work Experience</ion-card-title>
            <ion-icon slot="end" name="pencil" routerLink="/work-experience"></ion-icon>
        </ion-item>
        <ion-card-content class="ion-no-padding">
            <ion-item *ngFor="let workExp of user.workExps">
                <ion-icon name="business" style="margin-right: 10px;"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h2>{{workExp.name}}</h2>
                    <ion-text *ngFor="let position of workExp.positions">
                        <p>{{position.position}}</p>
                        <p>{{position.startDate | date}} <span *ngIf="!position.current">to {{position.endDate | date}}</span></p>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item lines='full'>
            <ion-card-title>Education</ion-card-title>
            <ion-icon slot="end" name="pencil" routerLink="/education"></ion-icon>
        </ion-item>
        <ion-card-content class="ion-no-padding">
            <ion-item *ngFor="let education of user.educations">
                <ion-icon name="school" style="margin-right: 10px;"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h2>{{education.institute}}</h2>
                    <ion-text>
                        <p>{{education.degree}}</p>
                        <p>{{education.startDate | date}} <span *ngIf="!education.current">to {{education.endDate | date}}</span></p>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item lines='full'>
            <ion-card-title>Trainings</ion-card-title>
            <ion-icon slot="end" name="pencil" routerLink="/training"></ion-icon>
        </ion-item>
        <ion-card-content class="ion-no-padding">
            <ion-item *ngFor="let training of user.trainings">
                <ion-icon name="medal" style="margin-right: 10px;"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h2>{{training.title}}</h2>
                    <ion-text>
                        <p>{{training.awardedBy}}</p>
                        <p>{{training.recognitionDate | date}}</p>
                        <p>{{training.description}}</p>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>