ion-content ion-toolbar {
    --background: translucent;
}

.Container {
    height: 100%;
    display: flex;
}

.SubContainer {
    margin: auto;
}

ion-card {
    padding-top: 15px;
    border-radius: 20px;
}


/* .card-title {
    position: absolute;
    top: 37%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #000;
}

.card-subtitle {
    font-size: 20px;
    position: absolute;
    top: 53%;
    width: 100%;
    color: #000;
} */