ion-content ion-toolbar {
    --background: translucent;
}

ion-img {
    height: 100px;
    width: 180px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* ion-content {
    height: 100%;
}

ion-list {
    margin-top: 20%;
} */

ion-card {
    padding-top: 15px;
    border-radius: 20px;
    /* margin-bottom: 30px; */
}