<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-item slot="start" lines="none">
            <ion-icon name="person"></ion-icon>
        </ion-item>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card class="ion-padding-top">

        <ion-row class="ion-padding-horizontal">
            <ion-col size="12">
                <ion-avatar class="ion-no-margin">
                    <ion-img [src]='user.profileImage || "../../assets/img/noImage.png"'></ion-img>
                </ion-avatar>
            </ion-col>
        </ion-row>

        <ion-card-content class="ion-no-padding ion-padding-bottom">
            <ion-item lines='none' class="ion-no-margin ion-no-padding">
                <ion-card-title class="ion-padding-start">{{user.firstName == '' ? 'Full' : user.firstName}} {{user.lastName == '' ? 'Name' :user.lastName}}</ion-card-title>
                <ion-icon slot="end" name="pencil" routerLink="/edit-profile"></ion-icon>
            </ion-item>
            <ion-card-subtitle class="ion-padding-start">{{user.workExps[0] == undefined ? "Position" :user.workExps[0].position}} in {{user.workExps[0] == undefined ? "Company's Name" :user.workExps[0].name}}</ion-card-subtitle>
            <ion-label class="ion-padding-start">{{user.workExps[0] == undefined ? "Company's Name " :user.workExps[0].name}} - {{user.educations[0] == undefined ? "Institute's Name" :user.educations[0].institute}}</ion-label><br>
            <ion-label class="ion-padding-start">{{user.city == '' ? "City" : user.city}}, {{user.state == '' ? "State" : user.state}}</ion-label>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item lines='full'>
            <ion-card-title>Work Experience</ion-card-title>
            <ion-icon slot="end" name="pencil" routerLink="/work-experience"></ion-icon>
        </ion-item>
        <ion-card-content class="ion-no-padding">
            <ion-item *ngFor="let workExp of workExps">
                <ion-icon name="business" style="margin-right: 10px;"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h2>{{workExp == undefined ? "Company's Name" :workExp.name}}</h2>
                    <ion-text>
                        <p>{{workExp == undefined ? "Position" :workExp.position}}</p>
                        <p>{{workExp == undefined ? "Start Date" :workExp.startDate | date}} <span *ngIf="!workExp.current && workExp.endDate">to {{user.workExps[0] == undefined ? "End Date" :workExp.endDate | date}}</span>
                            <span *ngIf="workExp.current || !workExp.endDate">(current)</span>
                        </p>
                    </ion-text>
                </ion-label>
            </ion-item>
            <p *ngIf="user.workExps.length > 2" style="text-align: center; font-size: large;" routerLink="/work-experience">show {{user.workExps.length - 2}} more</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item lines='full'>
            <ion-card-title>Education</ion-card-title>
            <ion-icon slot="end" name="pencil" routerLink="/education"></ion-icon>
        </ion-item>
        <ion-card-content class="ion-no-padding">
            <ion-item *ngFor="let education of educations">
                <ion-icon name="school" style="margin-right: 10px;"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h2>{{education == undefined ? "Institute's Name" :education.institute}}</h2>
                    <ion-text>
                        <p>{{education == undefined ? "Degree" :education.degree}}</p>
                        <p>{{education == undefined ? "Start Date" :education.startDate | date}} <span *ngIf="!education.current && education.endDate">to {{user.educations[0] == undefined ? "End Date" :education.endDate | date}}</span>
                            <span *ngIf="education.current || !education.endDate">(current)</span>
                        </p>
                    </ion-text>
                </ion-label>
            </ion-item>
            <p *ngIf="user.educations.length > 2" style="text-align: center; font-size: large;" routerLink="/education">show {{user.educations.length - 2}} more</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item lines='full'>
            <ion-card-title>Trainings</ion-card-title>
            <ion-icon slot="end" name="pencil" routerLink="/training"></ion-icon>
        </ion-item>
        <ion-card-content class="ion-no-padding">
            <ion-item *ngFor="let training of trainings">
                <ion-icon name="medal" style="margin-right: 10px;"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h2>{{training == undefined ? "Training title" :training.title}}</h2>
                    <ion-text>
                        <p>{{training == undefined ? "Awarded by" :training.awardedBy}}</p>
                        <p>{{training == undefined ? "Recognition date" :training.recognitionDate | date}}</p>
                    </ion-text>
                </ion-label>
            </ion-item>
            <p *ngIf="user.trainings.length > 2" style="text-align: center; font-size: large;" routerLink="/training">show {{user.trainings.length - 2}} more</p>
        </ion-card-content>
    </ion-card>
</ion-content>